{
    admin off
}

# Cloudflare Tunnel経由（HTTP）
{$PROD_DOMAIN}:80 {
    reverse_proxy /api/* backend:{$BACKEND_PROD_PORT}
    reverse_proxy frontend:{$FRONTEND_PROD_PORT}
}

{$STAGING_DOMAIN}:80 {
    reverse_proxy /api/* backend-staging:{$BACKEND_STAGING_PORT}
    reverse_proxy frontend-staging:{$FRONTEND_STAGING_PORT}
}
